/* div .container {
    margin: 0px 40px;
}

fill-remaining-space {
    flex: 1 1 auto;
} */

form .normal-form {
    margin: 10px;
}

.controls-container {
    width: 100%;
    padding: 5%;
}

.full-width {
    width: 100%;
}

.form-button {
    margin-top: 20px;
    margin-right: 30px;
}

.put-space {
    margin-left: 20px
}