.full-width {
    width: 100%;
}

mat-grid-tile {
    background-color: white;
}

form .normal-form {
    margin: 10px;
}

.controls-container {
    width: 100%;
    padding: 5%;
}

.full-width {
    width: 100%;
}

.form-button {
    margin-top: 20px;
    margin-right: 30px;
}

.put-space {
    margin-left: 30px
}

mat-headline {
    text-decoration: red;
}

mat-grid-tile-header {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}