#canvas {
    display: block;
    height: 300px !important;
    width: 1000px !important;
    margin: 0 auto !important;
    overflow: hidden !important;
}

.chart {
    margin-top: 20px !important;
    height: auto !important;
}

.container {
    display: block !important;
    margin-left: 60px !important;
}