<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" appearance="outline" color="accent">
</mat-form-field>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- Ticket number Column -->

        <ng-container matColumnDef="tickedId">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Ticket Number </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tickedId}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="requestType">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Request Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.requestType}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="priority">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Priority </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
        <!--Submit Date Column-->
        <ng-container matColumnDef="submitDate">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Submit Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.submitDate}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>
    </mat-table>

    <mat-paginator pageSize="3" [pageSizeOptions]="[3,5,8]" showFirstLastButtons></mat-paginator>
</div>